@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
  -webkit-scrollbar {
    display: none;
  }
}
/* svg icon */
.icon-container {
  width: 40px; /* Set the width */
  height: 40px; /* Set the height */
}

.icon {
  width: 100%; /* Make sure the SVG fills its container */
  height: 100%; /* Make sure the SVG fills its container */
}
/* bg colors */
.bg-green {
  background-color: #22ba00;
}
.bg-orange {
  background-color: #fd9302;
}
.bg-red {
  background-color: #ff3030;
}
.bg-regular-light {
  background-color: #c9c9c9;
}
