@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
  -webkit-scrollbar {
    display: none;
  }
}
/* tooltip stylings */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translateX(10%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  animation: tooltipPopup 0.3s forwards;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@keyframes tooltipPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
